<!DOCTYPE html>
<html lang="en">
<head>
  <title>FindFlats Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a style="color: white;" class="navbar-brand" href="/home">FindFlats</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a style="color: white;" href="/home">Home</a></li>
        <li class="active"><a style="color: white;" href="/about">About</a></li>
        <li><a style="color: white;"href="#">Create listing</a></li>
        <li><a style="color: white;"href="#">Profile</a></li>
        <li><form class="form-inline my-2 my-lg-0">
          <input style="position: relative; left: 5rem; top: 1rem; width: 33vw;"class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button style="position: relative; left: 3.5vw; top: 1.6vh;"class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-8 text-left"> 
      <h1 id="welcome">Welcome</h1>
      <p>maybe not what I had written before...</p>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

<footer style="position: fixed; bottom: 0%; width: 100%;"class="container-fluid text-center">
  <p style="font-style: italic; color: black; font-size: 12px;">If you think this is a real website, you would be wrong... However, that doesn't mean you are exempt from having your data stolen and sold to Chinese corporations; who believe me, pay TOP dollar for that stuff. Have fun with the ensuing identity theft :)</p>
</footer>

</body>
</html>
